<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITimbrado" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://webservice.facturacenter.com.mx/Timbrado.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITimbrado"
                contract="WSTimbrado.ITimbrado" name="BasicHttpBinding_ITimbrado" />
        </client>
    </system.serviceModel>
</configuration>